<img src="../imgs/<%= @question.schema_img_filename %>" alt="Schema for Theaters, Screens, and Screenings">


<% if @last_guess and @last_guess[1] == true %>
<p>That's correct!</p>
<% elsif @last_guess %>
<p>Incorrect!</p>
<% end %>

<p id="question-text"><%= @question.text %></p>

<p><a id="hint-link" href="/questions/<%= @question.id %>/hints">Click here for a hint!</a></p>

<div id="question<%=@question.id%>">
	<p id="hint-text" class="hidden">Hint: <%= @question.hint %></p>			
</div>


<form action="/questions/<%= @question.id %>/guess" method="post">
  <input type="text" name="answer" <% if @last_guess %>value="<%= @last_guess[2] %>"<% end %>>
  <input type="submit">
</form>
