<img class="schema-img" src="../imgs/<%= @question.schema_img_filename %>" alt="Schema for Theaters, Screens, and Screenings">

<% if @last_guess and @last_guess[1] == true %>
<p>That's correct!</p>
  <p id="macho">AWW YEUHHHHHHHH!!!</p>
  <div id="ytplayer" frameborder="0"></div>
<% elsif @last_guess %>
<p>Incorrect!</p>
<% end %>

<p id="question-text"><%= @question.text %></p>

<p><a id="hint-link" href="/questions/<%= @question.id %>/hints">Click here for a hint!</a></p>

<div id="question<%=@question.id%>">
	<p id="hint-text" class="hidden">Hint: <%= @question.hint %></p>
</div>


<div id="editor"></div>
<br>

<form action="/questions/<%= @question.id %>/guess" method="post">
  <textarea name="answer"><% if @last_guess %><%= @last_guess[2] %><% else %><%= @question.start_text %><% end %></textarea>
  <input type="submit">
</form>

<script src="/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/monokai");
  editor.getSession().setMode("ace/mode/ruby");
  editor.getSession().setTabSize(2);
  editor.$blockScrolling = Infinity
  var textarea = $('textarea[name="answer"]').hide();
  editor.getSession().setValue(textarea.val());
  editor.getSession().on('change', function(){
    textarea.val(editor.getSession().getValue());
  });
</script>

<script>
  // Load the IFrame Player API code asynchronously.
  var tag = document.createElement('script');                         // New variable identified as script
  tag.src = "https://www.youtube.com/player_api";                     // New variable given API (prewritten functions) to use
  var firstScriptTag = document.getElementsByTagName('script')[0];    //
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // Replace the 'ytplayer' element with an <iframe> and
  // YouTube player after the API code downloads.
  var player;
  function onYouTubePlayerAPIReady() {
    player = new YT.Player('ytplayer', {
      height: '720',
      width: '1280',
      videoId: 'dw62C1MBKJc'
    });
  }
</script>